<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingtai.mingtai_backend.mappers.CategoryMapper">


    <!--    Associated Queries for foreign keys-->

    <resultMap id="categoryMap" type="com.mingtai.mingtai_backend.pojos.Category">
        <id property="id" column="id" javaType="int"/>
        <result property="parent_id" column="parent_id" javaType="int"/>
        <result property="category_name" column="category_name" javaType="String"/>
        <result property="hierarchy_id" column="hierarchy_id" javaType="int"/>
        <collection property="children" ofType="com.mingtai.mingtai_backend.pojos.Category" column="{id=id, hierarchy_id=hierarchy_id}" select="getChildren">
        </collection>
    </resultMap>

    <select id="getAllCategories" resultMap="categoryMap">
        select * from category where hierarchy_id = 1
    </select>


    <insert id="addMainCategory" parameterType="com.mingtai.mingtai_backend.pojos.Category">
        INSERT INTO category (category_name, hierarchy_id) VALUES (#{category_name}, #{hierarchy_id})
    </insert>

    <insert id="addSubCategory" parameterType="com.mingtai.mingtai_backend.pojos.Category">
        INSERT INTO category (parent_id, category_name, hierarchy_id) VALUES (#{parent_id}, #{category_name}, #{hierarchy_id})
    </insert>

    <select id="getChildren" resultMap = "categoryMap">
        select * from category where parent_id=#{id}
    </select>

    <delete id="deleteCategory" parameterType="int">
        DELETE FROM category WHERE id =  #{id}
    </delete>


    <update id="updateCategory" >
        UPDATE category
        SET parent_id = CASE
            WHEN #{category.parent_id} = 0 THEN parent_id
            ELSE #{category.parent_id}
            END,
            hierarchy_id = CASE
            WHEN #{category.hierarchy_id} = 0 THEN hierarchy_id
            ELSE #{category.hierarchy_id}
            END,
            category_name= CASE
            WHEN #{category.category_name} = NULL THEN  category_name
            ELSE #{category.category_name}
                    END,
             modified_time = NOW()
        WHERE id = #{id}
    </update>

    <select id="getParentID" resultType="Integer">
        SELECT parent_id
        FROM category
        WHERE id = #{id}
    </select>
</mapper>